.body-gallery{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Gallery{
		margin-top: 10px;
    width: 100%;
    height: 400px;
    position: relative;

    &__arrows-container{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__points-container{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
    }

    &__images-container{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: -1;
				background-color: black;
				display: flex;
				overflow: hidden;
				justify-content: center;
    }

    &__image-item{
				height: 100%;
        opacity: 0;
				display: none;
				transition: opacity display 2s;

        &--selected {
            opacity: 1;
            display: block;
        }
    }

    &__button{
        opacity: 0.5;
        margin: 5px;
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 50%;
				border: 2px solid rgb(63, 63, 63);

        &:hover {
            border: 2px solid black;
        }
    }
    
    &__button-left, &__button-right{
        text-align: center;
        vertical-align: middle;
        line-height: 100%;
        

        &--disabled {
           opacity: 0;
           pointer-events: none;
        }
    }

    &__button-point{
        height: 20px;
        width: 20px;

        &--selected {
            opacity: 1;
        }
    }

    
}

//Medium is default

@media  screen and (max-width: 640px) { // Small
	.Gallery{
    height: 300px;

    &__arrows-container{
        height: 40px;
    }

    &__points-container{
        height: 40px;
    }

		&__button{
			height: 40px;
			width: 40px;
			border: 1px solid rgb(63, 63, 63);

			&:hover {
					border: 1px solid black;
			}
		}
		

		&__button-point{
				height: 20px;
				width: 20px;
		}
	}
}

@media  screen and (min-width: 1024px) { // Large
	.Gallery{
    height: 800px;

    &__arrows-container{
        height: 100px;
    }

    &__points-container{
        height: 100px;
    }

		&__button{
			height: 100px;
			width: 100px;
			border: 5px solid rgb(63, 63, 63);

			&:hover {
					border: 5px solid black;
			}
		}
		

		&__button-point{
				height: 80px;
				width: 80px;
		}
	}
}
